/*Chengan Tian, 667674683*/

body{
    background-image: url('../img/background1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*if picture is not available*/
    background-color: lightblue;
    font-family: sans-serif;
    font-size: larger;
}
h1, h2, h3, h4, h5, h6{
    font-family: cursive;
    color: darkgreen;
}
p{
    /*indent the first line of paragraph*/
    text-indent: 2em;
}
a:link{
    color: white;
}
a:hover{
    color: cornflowerblue;
}
a:active{
    color: grey;
}
.floatleft{
    float: left;
}
.clearfloat{
    clear: both;
}
.navbar{
    position: sticky;
    top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: darkblue;
    /*navbar should be above everything*/
    z-index: 10;
}
.navbarul{
    list-style: none;
    /*we need to scroll on navbar if width is short*/
    overflow: auto;
    height: 40px;
    padding: 0px 20px;
}
.navbarli{
    float: left;
    margin: 8px;
}
.navbarlia{
    padding: 10px;
    color: white;
    text-decoration: none;
}
.ul{
    margin: 2%;
    list-style: circle;
    font-style: italic;
}
.bottom{
    width: 100%;
    padding: 6px;
    margin-top: 6%;
    border-radius: 20px;
    text-align: center;
    font-size: medium;
    background-color: lightcyan;
}